@using Syntaq.Falcon.Web.Areas.Falcon.Models.Common.Modals
@using Syntaq.Falcon.Web.Areas.Falcon.Models.Apps
@model AppViewModel

<div id="AppInformationsTab">
        
    <div class="m-stack m-stack--hor m-stack--general m-stack--demo">
        <div class="m-stack__item m-stack__item--center m-stack__item--middle">
            <h6>@L("Name") :</h6>
            @Model.App.Name
        </div>
        <div class="m-separator m-separator--dashed"></div>
        <div class="m-stack__item m-stack__item--center m-stack__item--middle">
            <h6>@L("Description") :</h6>
            @Model.App.Description
        </div>
        <div class="m-separator m-separator--dashed"></div>

    </div>

</div>
 

