<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WordFusion.Assembly.MailMerge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
   <section name="WordFusion.Assembly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<WordFusion.Assembly.MailMerge.Properties.Settings>
   <setting name="WordFusion_Assembly_SVC_Library_Library" serializeAs="String">
    <value>http://documentservices.zumesoft.com/Library.asmx</value>
   </setting>
  </WordFusion.Assembly.MailMerge.Properties.Settings>
  <WordFusion.Assembly.Properties.Settings>
			<setting name="WordFusion_Assembly_Zume_Assembly_Assembly" serializeAs="String">
				<value>http://www.zumesoft.com/Assembly.asmx</value>
			</setting>
		</WordFusion.Assembly.Properties.Settings>
	</applicationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
