@using Syntaq.Falcon.Web.Areas.Falcon.Models.Layout
@using Syntaq.Falcon.Web.Areas.Falcon.Views.Shared.Components.FalconLogo
@model HeaderViewModel
@{
    Layout = null;
}

<div class="kt-header__brand kt-grid__item" id="kt_header_brand">
    <div class="kt-header__brand-logo">
        <a href="@Url.Action("Index", "Home", new {area = string.Empty})">
            @await Component.InvokeAsync(typeof(FalconLogoViewComponent))
            @await Component.InvokeAsync(typeof(FalconLogoViewComponent), new { logoClass = "kt-header__brand-logo-sticky" })
        </a>
    </div>
</div>