<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d03a4528-fd9c-4b7b-af50-67ed39ca3939/resourceGroups/stq-falcon-ae-rg-test/providers/Microsoft.Web/sites/syntaq-falcon-test</ResourceId>
    <ResourceGroup>stq-falcon-ae-rg-test</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://syntaq-falcon-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a2213374-bb48-48fd-bbd4-81e6a961d866</ProjectGuid>
    <PublishUrl>https://syntaq-falcon-test.scm.azurewebsites.net/</PublishUrl>
    <UserName>$syntaq-falcon-test</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>