@using Syntaq.Falcon.Web.Resources

@inject IWebResourceManager WebResourceManager
@{
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/Falcon/Views/_Bundles/morris.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/Falcon/Views/_Bundles/raphael.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/Falcon/Views/_Bundles/jquery.flot.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/Falcon/Views/_Bundles/jquery.waypoints.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/Falcon/Views/_Bundles/jquery.counterup.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/Falcon/Views/_Bundles/topojson.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/Falcon/Views/_Bundles/jquery.easypiechart.min.js");
    WebResourceManager.AddScript(ApplicationPath + "view-resources/Areas/Falcon/Views/_Bundles/chartist.min.js");
}

<div class="card card-custom bgi-no-repeat card-stretch gutter-b new-subscription-statistics h-100 ActionRequiredChartContainer">

    <div class="card-header align-items-center border-0">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark"> @L("Action Required")</span>
        </h3>

        <div class="card-toolbar">
            <div class="dropdown me-2">
                <button class="btn btn-sm btn-secondary dropdown-toggle " style="width:125px" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="envLbl">@L("All")</span><span class="envId d-none"></span>
                </button>
                <div id="ArEnvContent" class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                </div>
            </div>
        </div>

    </div>

    <div class="card-body">
        <div class="row ">
            <div class="col">
                <div id="actionStatusChart" class="kt_chart_profit_share">
                    <div id="actionStatusCount">
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="actionStatusLables" class="mt-3">
                </div>
            </div>
        </div>
    </div>
</div>