@using Syntaq.Falcon.Web.Areas.Falcon.Models.Common
@model IPermissionsEditViewModel

<div class="mb-5">
    <input id="PermissionTreeFilter" aria-label="@L("InputFilterText")" type="text" class="form-control" placeholder="@L("SearchWithThreeDot")">
</div>
<div class="permission-tree scroll h-400px">
    @await Html.PartialAsync("~/Areas/Falcon/Views/Common/_PermissionTreeItem.cshtml", new PermissionTreeItemModel(Model, null))
</div>
