@using Syntaq.Falcon.Web.Areas.Falcon.Models.Common.Modals
@using Syntaq.Falcon.Web.Areas.Falcon.Models.Files
@model FilesViewModel


@Html.Partial("~/Areas/Falcon/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("View and Download the Uploaded files"))

<div class="modal-body">
    <div id="ViewFilesViewTab">
        <h6>Testteseteseteset</h6>
    </div>
</div>

@Html.Partial("~/Areas/Falcon/Views/Common/Modals/_ModalFooterWithClose.cshtml")