<div class="modal-footer">
        <button type="button" class="btn btn-primary save-button"> @L("Save") </button>
    <button type="button" class="btn btn-secondary font-weight-bold close-button me-2" data-bs-dismiss="modal">@L("Cancel")</button>
</div>