<div class="modal-footer pl-4 pr-4 pt-3 pb-3">
	@*<button type="button" class="btn btn-sm default close-button" data-bs-dismiss="modal">@L("Close")</button>*@
	<button type="button" class="btn btn-sm btn-secondary close-button" data-bs-dismiss="modal" data-bs-dismiss="modal">@L("Close")</button>
</div>