@using System.Globalization
@using Syntaq.Falcon.Web.Areas.Falcon.Models.Common.Modals
@using Syntaq.Falcon.Web.Areas.Falcon.Models.UserAcceptances

@model UserAcceptanceViewModel;
 
@*<div class="modal  fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
    <div class="modal-content" style="height: 80%;" >
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> @ua.UserAcceptance.UserAcceptanceType.Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <div class="embed-responsive embed-responsive-21by9">
            <embed class="embed-responsive-item" src="@ua.UserAcceptance.UserAcceptanceType.TemplateContent">	
        </div>	
        </div>
        <div class="modal-footer">                   
            <button type="button" class="btn btn-label-brand  btn-bold" data-dismiss="modal">@L("Close")</button>
        </div>
    </div>
    </div>
</div>                            
 *@