<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Syntaq.Falcon.Web.Mvc.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" startupTimeLimit="3600" requestTimeout="23:00:00" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44302" />
        <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:55453/Syntaq.Falcon.Web.Mvc/" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
      </environmentVariables>
    </aspNetCore>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="https://nzgp2-uat.sites.silverstripe.com" /> -->
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, pragma, expires, woff2, wott, woff, ttf, cache-control, x-requested-with" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <!--<add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />-->
        <remove name="X-Powered-By" />
        <clear />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <httpRuntime maxRequestLength="2147483647" />
    <customErrors defaultRedirect="Error" mode="On">
      <error statusCode="500" redirect="Error" />
    </customErrors>
    <!-- Turn back to On -->
  </system.web>
</configuration>
<!--ProjectGuid: A2213374-BB48-48FD-BBD4-81E6A961D866-->