<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://syntaq-function-fyi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d03a4528-fd9c-4b7b-af50-67ed39ca3939/resourceGroups/Syntaq.IT.Falcon/providers/Microsoft.Web/sites/syntaq-function-fyi</ResourceId>
    <UserName>$syntaq-function-fyi</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://syntaq-function-fyi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>